*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {

    #overlay {
        position: fixed;
        /* Sit on top of the page content */
        display: none;
        /* Hidden by default */
        width: 100%;
        /* Full width (cover the whole page) */
        height: 100%;
        /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        /* Black background with opacity */
        z-index: 2;
        /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer;
        /* Add a pointer on hover */
    }



    #page-navbar {
        font-family: 'Poppins', sans-serif;

        width: 100%;
        height: 213px;


        .container {
            max-width: 1220px !important;
        }


        .up-navbar {
            height: 47px;
            border-bottom: 1px solid #e5e5e5;
            --bs-dropdown-link-active-bg: #df3e25 !important;


            .dropdown-menu {
                --bs-dropdown-link-hover-bg: white;
                --bs-dropdown-link-active-bg: orange;

                :hover {
                    color: #ff871d;
                }
            }


            .dropdown {
                display: flex;
                margin-left: 10px;
                gap: 10px;
                padding-top: 10px;
                color: #666666;
                font-size: 14px;
                font-weight: 600;


                .basic {

                    :hover {
                        color: #ff871d;
                    }

                }

                .line {
                    margin-left: 8px;
                    height: 22px;
                    color: black;
                    width: 1px;
                    background: #80808075;
                    margin-top: 1px;
                }

                .show {
                    font-size: 14px;

                }


            }


            .text-header {
                padding-top: 10px;
                text-align: center;
                color: #666666;
                font-weight: 600;
            }


            .account-basket {
                display: flex;
                margin-left: 22px;
                gap: 10px;
                padding-top: 10px;
                color: #666666;
                font-size: 14px;
                justify-content: flex-end;

                span {
                    font-weight: 600;
                }

                span:hover {
                    color: #ff871d;
                }




                .line {
                    margin-left: 8px;
                    height: 22px;
                    color: black;
                    width: 1px;
                    background: #80808075;
                    margin-top: 1px;

                }

                .icon {
                    cursor: pointer;
                    display: flex;
                    font-size: 22px;
                    color: black;
                    /* padding-bottom: 62px; */
                    align-content: flex-start;
                    align-items: center;
                    gap: 5px;


                    .basket-count {
                        font-size: 12px;
                        width: 15px;
                        height: 17px;
                        background: #ff871d;
                        text-align: center;
                        border-radius: 50%;

                        span {
                            font-weight: 600;
                            color: white;
                        }
                    }
                }


            }
        }




        .header-wrapper {
            height: 110px;
            display: flex;
            align-items: center;

            .header-service {

                display: flex;
                align-items: center;
                gap: 5px;


                .icon {
                    width: 35px;
                    height: 40px;
                    font-size: 35px;
                    color: #ff871d;
                }

                .service {

                    margin-top: 19px;
                    font-size: 15px;
                    line-height: 0.5;

                    h6:hover {
                        color: #ff871d;
                    }

                    h6 {
                        font-weight: 600;
                        font-size: 15px;
                    }

                    p {
                        color: #666666;
                    }

                }
            }

            .header-logo {
                display: flex;
                justify-content: center;

                img {
                    width: 210px;
                }
            }

            .search {
                margin-top: 10px;
                text-align: center;
                display: flex;
                align-items: center;

                input {
                    outline: none;
                    border-radius: 5px;
                    width: 270px;
                    height: 42px;
                    border: 1px solid #e5e5e5;
                    padding: 0 40px 0 12px;
                    font-size: 13px;
                    text-transform: capitalize;
                    color: #666;
                    font-weight: 600;

                }


                .search-icon {
                    right: 30px;
                    position: relative;
                    top: 7px;


                    i {
                        cursor: pointer;
                        font-size: 20px;
                    }
                }

            }



        }

        .down-navbar {
            display: flex;
            height: 56px;
            align-items: flex-end;
            justify-content: space-evenly;
            position: relative;

            ul {
                display: flex;
                justify-content: center;
                gap: 35px;
                list-style: none;

                li {

                    a {
                        color: #222222;
                        font-weight: 600;
                        text-decoration: none;
                        padding: 15px 0;


                    }

                    a:hover {
                        color: #ff871d;
                    }
                }
            }
        }

        .stick-nav {
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
            top: 0;
            position: fixed;
            width: 100%;
            z-index: 9;
            background-color: #fff;
            -webkit-animation: 900ms cubic-bezier(0.2, 1, 0.22, 1) 0s normal none 1 running fadeInDown;
            animation: 900ms cubic-bezier(0.2, 1, 0.22, 1) 0s normal none 1 running fadeInDown;
        }
    }


    #mobil-navbar {
        font-family: 'Poppins', sans-serif;

        .up {
            border-bottom: 1px solid lightgray;
        }


        .mobil-up-navbar {
            padding: 11px 0px 11px 7px;
            width: 100%;

            .dropdown-menu {
                --bs-dropdown-link-hover-bg: white;
                --bs-dropdown-link-active-bg: orange;

                :hover {
                    color: #ff871d;
                }
            }


            .dropdown {
                display: flex;
                margin-left: 10px;
                gap: 10px;
                padding-top: 10px;
                color: #666666;
                font-size: 14px;
                font-weight: 400;


                .basic {

                    :hover {
                        color: #ff871d;
                    }

                }

                .line {
                    margin-left: 8px;
                    height: 22px;
                    color: black;
                    width: 1px;
                    background: #80808075;
                    margin-top: 1px;
                }

                .show {
                    font-size: 14px;

                }


            }
        }

        .mobil-down-navbar {

            margin-left: 73px;
            display: flex;
            align-items: center;
            margin-top: 13px;
            gap: 7px;


            .account-mob-icon {

                font-size: 24px;

            }

            .line {

                margin-left: 8px;
                height: 22px;
                color: black;
                width: 1px;
                background: #80808075;
                margin-top: 1px;
            }


            .basket-mob-icon {
                font-size: 22px;
                display: flex;

                .basket-count {
                    font-size: 11px;
                    width: 13px;
                    height: 15px;
                    background: #ff871d;
                    text-align: center;
                    border-radius: 50%;
                    margin-top: 4px;
                    margin-left: 5px;

                    span {
                        font-weight: 600;
                        color: white;
                    }
                }

            }
        }


        .down {

            height: 66px;
            display: flex;
            align-items: center;
            padding: 0 10px 0 10px;


            .sidebar-mob-navbar {
                display: flex;
                gap: 30px;
                align-items: center;

                .hamburger-icon {
                    font-size: 22px;
                }

                .nav-logo {

                    margin-left: 25px;
                    width: 101px;

                    img {
                        width: 100%;
                    }
                }

                .search-mob-icon {

                    .search-box {
                        display: flex;
                        align-items: center;

                        height: 30px;
                        border: 1px solid #ccc;
                        border-radius: 15px;
                        overflow: hidden;
                        margin-left: 3px;

                    }


                    .search-box input[type="text"] {
                        font-size: 1.2rem;
                        border: none;
                        width: 100px;
                        height: 100%;
                        outline: none;
                        overflow: hidden;
                        padding: 10px;

                    }

                    // .search-box:hover input[type="text"] {
                    //     width: 117px;
                    //     padding-inline: 1.5rem;
                    // }

                    .search-box button[type="submit"] {
                        width: 30px;
                        height: 100%;
                        background-color: #ccc;
                        border: none;
                        outline: none;
                        cursor: pointer;
                    }

                    // .search-box button[type="submit"]:hover {
                    //     background-color: #aaa;
                    // }

                    // .search-box i {
                    //     color: #fff;
                    //     font-size: 1.5rem;
                    // }
                }


            }


            .content-area {
                overflow-y: scroll;
                background-color: #fff;
                z-index: 9999;
                width: 0%;
                height: 100%;
                left: 0;
                top: 0;
                position: fixed;
                -webkit-transition: .4s;
                transition: .4s;
                overflow-y: scroll;

                .iconx {
                    font-size: 25px;
                    float: right;
                    margin-right: 20px;
                    margin-top: 22px;
                }


                .content-area-center {

                    margin-top: 65px;


                    li {

                        list-style: none;
                        margin-bottom: 20px;

                        a {
                            text-decoration: none;
                            color: #383535ee;
                            font-size: 20px;
                        }
                    }
                }
            }

        }


    }

}



main {

    #top-column-content {
        height: 160px;
        background-color: #f7f7f7;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        .column-content {


            .title {
                font-family: 'Poppins', sans-serif;

                h2 {
                    font-size: 40px;
                    text-transform: capitalize;
                    margin: 0 0 5px;
                    line-height: 35px;
                    font-weight: 700;
                }

            }

            .choose {

                font-size: 17px;

                a {
                    text-decoration: none;
                    color: black;

                    &:hover {
                        color: #ff871d;
                    }
                }

                span {
                    cursor: pointer;
                }


            }
        }
    }


    #contact-text {
        font-family: 'Poppins', sans-serif;

        .main-map {
            margin-top: 35px;
            padding: 20px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


            iframe {
                width: 100%;
            }

            .title-text {

                display: flex;
                gap: 15px;
                margin-top: 30px;


                .left-text {
                    width: 50%;

                    

                    .icon-text {
                        display: flex;
                        gap: 15px;
                        margin-top: 30px;
                        align-items: center;

                        .content {
                            margin-left: 20px;
                        }

                        i {
                            font-size: 30px;
                            color: #2a2928;
                        }

                        .text {
                            width: 50%;
                            hr {
                                width: 510px;
                                margin-left: -65px;
                            }

                            h4 {
                                font-size: 20px;

                            }

                            p {
                                font-family: inherit;
                                /* font-style: unset; */
                                color: #777;
                                font-weight: 400;

                            }

                        }
                    }

                }

                .right-text {
                    width: 50%;


                    .title-form {

                        

                        .form {
                            margin-bottom: -20px;
                            margin-top: 60px;

                            .group {
                                position: relative;
                                margin-bottom: 45px;
                            }

                            input,
                            textarea {
                                font-size: 15px;
                                padding: 10px 10px 10px 5px;
                                display: block;
                                width: 100%;
                                border: none;
                                border-bottom: 1px solid #ef6c00;
                                outline: none;


                                &:focus~label,
                                &:valid~label {
                                    top: -8px;
                                    font-size: 10px;
                                }

                                &:focus~.bar::before,
                                &:focus~.bar::after {
                                    width: 50%;
                                }

                            }

                            input:focus {
                                outline: none;
                            }

                            /* LABEL ======================================= */
                            .textarea {
                                height: 110px;
                                padding: 10px 0 0 5px;
                                resize: none;
                            }

                            label {
                                color: #999;
                                font-size: 14px;
                                position: absolute;
                                pointer-events: none;
                                left: 5px;
                                top: 10px;
                                transition: 0.4s ease all;
                                -moz-transition: 0.2s ease all;
                                -webkit-transition: 0.2s ease all;
                            }

                            /* active state */
                            input:focus~label,
                            input:valid~label {
                                top: -20px;
                                font-size: 14px;
                                color: #ef6c00;
                            }

                            textarea:focus~label,
                            textarea:valid~label {
                                top: -20px;
                                font-size: 14px;
                                color: #ef6c00;
                            }

                            /* BOTTOM BARS ================================= */
                            .bar {
                                position: relative;
                                display: block;
                                width: 100%;
                            }

                            .bar:before,
                            .bar:after {
                                content: '';
                                height: 2px;
                                width: 0;
                                bottom: 1px;
                                position: absolute;
                                background: #ef6c00;
                                transition: 0.2s ease all;
                                -moz-transition: 0.2s ease all;
                                -webkit-transition: 0.2s ease all;
                            }

                            .bar:before {
                                left: 50%;
                            }

                            .bar:after {
                                right: 50%;
                            }

                            /* active state */
                            input:focus~.bar:before,
                            input:focus~.bar:after {
                                width: 50%;
                            }

                            /* HIGHLIGHTER ================================== */
                            .highlight {
                                position: absolute;
                                height: 60%;
                                width: 100px;
                                top: 25%;
                                left: 0;
                                pointer-events: none;
                                opacity: 0.5;
                            }

                            /* active state */
                            input:focus~.highlight {
                                -webkit-animation: inputHighlighter 0.3s ease;
                                -moz-animation: inputHighlighter 0.3s ease;
                                animation: inputHighlighter 0.3s ease;
                            }

                            /* ANIMATIONS ================ */
                            @-webkit-keyframes inputHighlighter {
                                from {
                                    background: white;
                                }

                                to {
                                    width: 0;
                                    background: transparent;
                                }
                            }

                            @-moz-keyframes inputHighlighter {
                                from {
                                    background: white;
                                }

                                to {
                                    width: 0;
                                    background: transparent;
                                }
                            }

                            @keyframes inputHighlighter {
                                from {
                                    background: white;
                                }

                                to {
                                    width: 0;
                                    background: transparent;
                                }
                            }
                        }
                    }


                    .click-btn {

                        button {
                            border: none;
                            background-color: #ef6c00;
                            width: 110px;
                            font-size: 14px;
                            height: 50px;
                            font-weight: 700;
                            color: white;
                        }
                    }


                }
            }

        }



    }
}



footer {

    .container {
        max-width: 100% !important;
    }

    .footer-content {
        margin-top: 90px;
        background-color: black;
        padding-bottom: 35px;


        .info {
            color: white;
            font-family: 'Poppins', sans-serif;
            margin-top: 75px;

            h2 {
                font-size: 17px;
                font-weight: 600;
                margin-left: 20px;
            }


            ul {

                margin-top: 35px;

                li {
                    list-style: none;

                    span {
                        font-weight: 600;
                        font-size: 14px;
                        color: gray;
                    }

                    .mail {
                        font-weight: 600;
                        color: lightgray;
                        font-size: 15px;
                        text-decoration: none;

                        &:hover {
                            color: #ff871d;
                        }
                    }

                    .num {
                        line-height: 4;
                    }

                    a {
                        font-size: 16px;
                        color: lightgray;
                        text-decoration: none;
                        line-height: 2;

                        &:hover {
                            color: #ff871d;
                        }

                    }


                }
            }


        }
    }

}




@media only screen and (max-width: 850px) and (min-width: 350px) {

    #contact-text{

        .main-map{

            .title-text{

                display: block !important;
            }
        }




    }




   

}


@media only screen and (max-width: 1200px) and (min-width: 760px) {


    #mobil-navbar {


        .mobil-down-navbar {

            margin-left: 70%;

        }

        .sidebar-mob-navbar {
            width: 100%;
            align-items: center;
            justify-content: space-between;
            display: flex;


        }


    }






    #shopify-section {


        .shopify-mob {
            width: 50%;
        }

        .banner-description {
            position: absolute;
            left: 25px;
            right: 25px;
            padding: 20px 0 !important;
        }

        .title {
            font-size: 21px !important;
        }

        .text-button {
            margin-top: 0 !important;
            font-size: 13px;
        }
    }


    #services-wrapper {

        .service {

            display: flex;
            height: 30%;
            justify-content: space-around;
        }
    }


    #trending-product {

        .slider__item {

            .card {
                width: 20rem !important;

            }
        }


    }


    #newsletter {

        .news-input {
            margin-left: 25% !important;
        }
    }


    #brand {

        padding-bottom: 80%;
    }


    .footer-content {
        display: none;
    }

}