*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {


    #overlay {
        position: fixed;
        /* Sit on top of the page content */
        display: none;
        /* Hidden by default */
        width: 100%;
        /* Full width (cover the whole page) */
        height: 100%;
        /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        /* Black background with opacity */
        z-index: 2;
        /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer;
        /* Add a pointer on hover */
    }


    #page-navbar {
        font-family: 'Poppins', sans-serif;

        width: 100%;
        height: 213px;


        .container {
            max-width: 1220px !important;
        }


        .up-navbar {
            height: 47px;
            border-bottom: 1px solid #e5e5e5;
            --bs-dropdown-link-active-bg: #df3e25 !important;


            .dropdown-menu {
                --bs-dropdown-link-hover-bg: white;
                --bs-dropdown-link-active-bg: orange;

                :hover {
                    color: #ff871d;
                }
            }


            .dropdown {
                display: flex;
                margin-left: 10px;
                gap: 10px;
                padding-top: 10px;
                color: #666666;
                font-size: 14px;
                font-weight: 600;


                .basic {

                    :hover {
                        color: #ff871d;
                    }

                }

                .line {
                    margin-left: 8px;
                    height: 22px;
                    color: black;
                    width: 1px;
                    background: #80808075;
                    margin-top: 1px;
                }

                .show {
                    font-size: 14px;

                }


            }


            .text-header {
                padding-top: 10px;
                text-align: center;
                color: #666666;
                font-weight: 600;
            }


            .account-basket {
                display: flex;
                margin-left: 22px;
                gap: 10px;
                padding-top: 10px;
                color: #666666;
                font-size: 14px;
                align-items: center;
                justify-content: flex-end;


                span {
                    font-weight: 600;
                }

                span:hover {
                    color: #ff871d;
                }




                .line {
                    margin-left: 8px;
                    height: 22px;
                    color: black;
                    width: 1px;
                    background: #80808075;
                    margin-top: 1px;

                }

                .icon {
                    cursor: pointer;
                    display: flex;
                    font-size: 22px;
                    color: black;
                    /* padding-bottom: 62px; */
                    align-content: flex-start;
                    align-items: center;
                    gap: 2px;

                    i {
                        color: #000;
                    }

                    .wishlist-nav {

                        margin-left: 15px;
                    }

                    .basket-count {
                        font-size: 12px;
                        width: 15px;
                        height: 17px;
                        background: #ff871d;
                        text-align: center;
                        border-radius: 50%;

                        span {
                            font-weight: 600;
                            color: white;
                        }
                    }
                }


            }
        }




        .header-wrapper {
            height: 110px;
            display: flex;
            align-items: center;

            .header-service {

                display: flex;
                align-items: center;
                gap: 5px;


                .icon {
                    width: 35px;
                    height: 40px;
                    font-size: 35px;
                    color: #ff871d;
                }

                .service {

                    margin-top: 19px;
                    font-size: 15px;
                    line-height: 0.5;

                    h6:hover {
                        color: #ff871d;
                    }

                    h6 {
                        font-weight: 600;
                        font-size: 15px;
                    }

                    p {
                        color: #666666;
                    }

                }
            }

            .header-logo {
                display: flex;
                justify-content: center;

                img {
                    width: 210px;
                }
            }

            .search {
                margin-top: 10px;
                text-align: center;
                display: flex;
                align-items: center;

                input {
                    outline: none;
                    border-radius: 5px;
                    width: 270px;
                    height: 42px;
                    border: 1px solid #e5e5e5;
                    padding: 0 40px 0 12px;
                    font-size: 13px;
                    text-transform: capitalize;
                    color: #666;
                    font-weight: 600;

                }


                .search-icon {
                    right: 30px;
                    position: relative;
                    top: 7px;


                    i {
                        cursor: pointer;
                        font-size: 20px;
                    }
                }

            }



        }

        .down-navbar {
            display: flex;
            height: 56px;
            align-items: flex-end;
            justify-content: space-evenly;
            position: relative;

            ul {
                display: flex;
                justify-content: center;
                gap: 35px;
                list-style: none;

                li {

                    a {
                        color: #222222;
                        font-weight: 600;
                        text-decoration: none;
                        padding: 15px 0;


                    }

                    a:hover {
                        color: #ff871d;
                    }
                }
            }
        }

        .stick-nav {
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
            top: 0;
            position: fixed;
            width: 100%;
            z-index: 9;
            background-color: #fff;
            -webkit-animation: 900ms cubic-bezier(0.2, 1, 0.22, 1) 0s normal none 1 running fadeInDown;
            animation: 900ms cubic-bezier(0.2, 1, 0.22, 1) 0s normal none 1 running fadeInDown;
        }
    }


    #mobil-navbar {
        font-family: 'Poppins', sans-serif;

        .up {
            border-bottom: 1px solid lightgray;

            .mobil-down-navbar {

                display: flex;
                align-items: center;
                margin-top: 13px;
                justify-content: space-between;

                .account-mob-icon {
                    margin-left: 15px;
                    font-size: 24px;

                    a {
                        color: #000;
                    }

                }

                .line {

                    height: 22px;
                    color: black;
                    width: 1px;
                    background: #80808075;
                }


                .basket-mob-icon {
                    font-size: 22px;
                    display: flex;

                    a {
                        color: #000;
                    }

                    .basket-count {
                        font-size: 11px;
                        width: 13px;
                        height: 15px;
                        background: #ff871d;
                        text-align: center;
                        border-radius: 50%;
                        margin-left: 2px;
                        margin-right: 10px;

                        span {
                            font-weight: 600;
                            color: white;
                        }
                    }

                }
            }
        }





        .down {

            height: 66px;
            padding: 20px 11px;


            .sidebar-mob-navbar {
                display: flex;

                .hamburger-icon {
                    font-size: 22px;
                }

                .nav-logo {

                    margin-left: 25px;
                    width: 101px;

                    img {
                        width: 100%;
                    }
                }

                .search-mob-icon {

                    display: flex;

                    .search-box {
                        display: flex;
                        align-items: center;

                        height: 30px;
                        border: 1px solid #ccc;
                        border-radius: 15px;
                        overflow: hidden;
                        margin-left: 3px;

                    }


                    .search-box input[type="text"] {
                        font-size: 1.2rem;
                        border: none;
                        width: 100px;
                        height: 100%;
                        outline: none;
                        overflow: hidden;
                        padding: 10px;

                    }

                    // .search-box:hover input[type="text"] {
                    //     width: 117px;
                    //     padding-inline: 1.5rem;
                    // }

                    .search-box button[type="submit"] {
                        width: 30px;
                        height: 100%;
                        background-color: #ccc;
                        border: none;
                        outline: none;
                        cursor: pointer;
                    }

                    // .search-box button[type="submit"]:hover {
                    //     background-color: #aaa;
                    // }

                    // .search-box i {
                    //     color: #fff;
                    //     font-size: 1.5rem;
                    // }
                }


            }


            .content-area {
                overflow-y: scroll;
                background-color: #fff;
                z-index: 9999;
                width: 0%;
                height: 100%;
                left: 0;
                top: 0;
                position: fixed;
                -webkit-transition: .4s;
                transition: .4s;
                overflow-y: scroll;

                .iconx {
                    font-size: 25px;
                    float: right;
                    margin-right: 20px;
                    margin-top: 22px;
                }


                .content-area-center {

                    margin-top: 65px;


                    li {

                        list-style: none;
                        margin-bottom: 20px;

                        a {
                            text-decoration: none;
                            color: #383535ee;
                            font-size: 20px;
                        }
                    }
                }
            }

        }


    }



}



main {

    #top-column-content {
        height: 160px;
        background-color: #f7f7f7;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        .column-content {


            .title {
                font-family: 'Poppins', sans-serif;

                h2 {
                    font-size: 40px;
                    text-transform: capitalize;
                    margin: 0 0 5px;
                    line-height: 35px;
                    font-weight: 700;
                }

            }

            .choose {

                font-size: 17px;

                a {
                    text-decoration: none;
                    color: black;

                    &:hover {
                        color: #ff871d;
                    }
                }

                span {
                    cursor: pointer;
                }


            }
        }
    }


    #contact-text {
        font-family: 'Poppins', sans-serif;

        .main-map {
            margin-top: 35px;
            padding: 20px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


            iframe {
                width: 100%;
            }

            .title-text {
                padding: 80px 0;

                .contact-message {


                    .contact-title {
                        color: #333333;
                        font-size: 24px;
                        line-height: 1;
                        font-weight: 600;
                        margin-top: -4px;
                        text-transform: capitalize;
                        padding-bottom: 30px;
                    }

                    input {
                        width: 100%;
                        border: none;
                        padding: 10px 10px;
                        border-bottom: 3px solid transparent;
                        background-color: #f3f6f5;
                        margin-bottom: 30px;
                        outline: none;
                    }

                    textarea {
                        width: 100%;
                        border: none;
                        padding: 10px 10px;
                        border-bottom: 3px solid transparent;
                        background-color: #f3f6f5;
                        margin-bottom: 30px;
                        height: 120px;
                        outline: none;
                    }

                    .contact-btn {

                        .btn {

                            border-radius: 0;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 1;
                            color: #e3a51e;
                            outline: none;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                            -webkit-transition: 0.4s;
                            -o-transition: 0.4s;
                            transition: 0.4s;
                            display: inline-block;
                            padding: 14px 25px;
                            background-color: #333333;
                            text-transform: uppercase;

                            &:hover {
                                color: #fff;
                                background-color: #e3a51e
                            }
                        }
                    }

                }

                .contact-info {
                    height: 100%;

                    .contact-title {

                        color: #333333;
                        font-size: 24px;
                        line-height: 1;
                        font-weight: 600;
                        margin-top: -4px;
                        text-transform: capitalize;
                        padding-bottom: 30px;
                    }

                    p {
                        color: #666666;
                        padding-bottom: 30px;
                    }


                    ul {

                        li {
                            border-bottom: 1px solid #e5e5e5;
                            padding-bottom: 15px;
                            margin-bottom: 15px;
                            list-style: none;

                            i {
                                font-size: 18px;
                                padding-right: 10px;
                            }
                        }
                    }


                    .working-time {

                        h3 {
                            font-size: 16px;
                            font-weight: 600;
                            padding-bottom: 5px;
                        }

                        span {
                            color: #333333;
                            padding-right: 10px;
                        }
                    }


                }




            }



        }



    }
}



footer {

    .container {
        max-width: 100% !important;
    }

    .footer-content {
        margin-top: 90px;
        background-color: black;
        padding-bottom: 35px;


        .info {
            color: white;
            font-family: 'Poppins', sans-serif;
            margin-top: 75px;

            h2 {
                font-size: 17px;
                font-weight: 600;
                margin-left: 20px;
            }


            ul {

                margin-top: 35px;

                li {
                    list-style: none;

                    span {
                        font-weight: 600;
                        font-size: 14px;
                        color: gray;
                    }

                    .mail {
                        font-weight: 600;
                        color: lightgray;
                        font-size: 15px;
                        text-decoration: none;

                        &:hover {
                            color: #ff871d;
                        }
                    }

                    .num {
                        line-height: 4;
                    }

                    a {
                        font-size: 16px;
                        color: lightgray;
                        text-decoration: none;
                        line-height: 2;

                        &:hover {
                            color: #ff871d;
                        }

                    }


                }
            }


        }
    }

}


.scroll-top {
    bottom: 50px;
    cursor: pointer;
    height: 40px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 40px;
    z-index: 9999;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 4px;
    background-color: #e3a51e;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);

    i {
        line-height: 40px;
        color: #fff;
        font-size: 25px;
    }
}

.scroll-top.not-visible {
    bottom: -50px;
    visibility: hidden;
    opacity: 0;
}




@media only screen and (max-width: 767px) and (min-width: 350px) {

    #mobil-navbar {

        .search-box {
            margin-left: 27px !important;
        }

        .down {

            .nav-logo {
                width: auto !important;
            }
        }
    }


    #contact-text {

        .main-map {

            .title-text {
                display: block !important;

                .left-text {
                    width: auto !important;

                    .title {
                        h3 {
                            text-align: center;
                        }
                    }

                    .icon-text {

                        display: block !important;

                        i {
                            display: block !important;
                            text-align: center;
                        }

                        .text {

                            margin-left: 0 !important;
                            width: 100% !important;

                            p {
                                text-align: center;

                            }

                            h4 {
                                text-align: center;
                            }
                        }
                    }
                }

                .right-text {
                    margin-top: 70px;
                    width: auto !important;

                    .title-form {
                        .title {
                            h3 {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }

    }


}





@media only screen and (max-width: 1200px) and (min-width: 760px) {


    #mobil-navbar {

        .mobil-down-navbar {
            margin-right: 15px;
            justify-content: flex-end;

        }

        .sidebar-mob-navbar {
            width: 100%;
            align-items: center;
            justify-content: space-between;
            display: flex;



            .search-mob-icon {
                justify-content: flex-end;

                .search-box {
                    display: block !important;

                    input {
                        width: 160px !important;
                    }
                }

            }

        }


    }

    .footer-content {

        display: contents;
    }



    @media only screen and (max-width: 1200px) and (min-width: 768px) {

        #mobil-navbar {

            .mobil-down-navbar {
                margin-right: 15px;
                justify-content: flex-end;

            }

            .sidebar-mob-navbar {
                width: 100%;
                align-items: center;
                justify-content: space-between;
                display: flex;



                .search-mob-icon {
                    justify-content: flex-end;

                    .search-box {
                        display: block !important;

                        input {
                            width: 160px !important;
                        }
                    }

                }

            }


        }


        .footer-content {

            padding-bottom: 67% !important;

            .info {
                margin-top: auto !important;
            }

        }


    }



}