*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header #overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}
header #page-navbar {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 213px;
}
header #page-navbar .container {
  max-width: 1220px !important;
}
header #page-navbar .up-navbar {
  height: 47px;
  border-bottom: 1px solid #e5e5e5;
  --bs-dropdown-link-active-bg: #df3e25 !important;
}
header #page-navbar .up-navbar .dropdown-menu {
  --bs-dropdown-link-hover-bg: white;
  --bs-dropdown-link-active-bg: orange;
}
header #page-navbar .up-navbar .dropdown-menu :hover {
  color: #ff871d;
}
header #page-navbar .up-navbar .dropdown {
  display: flex;
  margin-left: 10px;
  gap: 10px;
  padding-top: 10px;
  color: #666666;
  font-size: 14px;
  font-weight: 600;
}
header #page-navbar .up-navbar .dropdown .basic :hover {
  color: #ff871d;
}
header #page-navbar .up-navbar .dropdown .line {
  margin-left: 8px;
  height: 22px;
  color: black;
  width: 1px;
  background: rgba(128, 128, 128, 0.4588235294);
  margin-top: 1px;
}
header #page-navbar .up-navbar .dropdown .show {
  font-size: 14px;
}
header #page-navbar .up-navbar .text-header {
  padding-top: 10px;
  text-align: center;
  color: #666666;
  font-weight: 600;
}
header #page-navbar .up-navbar .account-basket {
  display: flex;
  margin-left: 22px;
  gap: 10px;
  padding-top: 10px;
  color: #666666;
  font-size: 14px;
  align-items: center;
  justify-content: flex-end;
}
header #page-navbar .up-navbar .account-basket span {
  font-weight: 600;
}
header #page-navbar .up-navbar .account-basket span:hover {
  color: #ff871d;
}
header #page-navbar .up-navbar .account-basket .line {
  margin-left: 8px;
  height: 22px;
  color: black;
  width: 1px;
  background: rgba(128, 128, 128, 0.4588235294);
  margin-top: 1px;
}
header #page-navbar .up-navbar .account-basket .icon {
  cursor: pointer;
  display: flex;
  font-size: 22px;
  color: black;
  /* padding-bottom: 62px; */
  align-content: flex-start;
  align-items: center;
  gap: 2px;
}
header #page-navbar .up-navbar .account-basket .icon i {
  color: #000;
}
header #page-navbar .up-navbar .account-basket .icon .wishlist-nav {
  margin-left: 15px;
}
header #page-navbar .up-navbar .account-basket .icon .basket-count {
  font-size: 12px;
  width: 15px;
  height: 17px;
  background: #ff871d;
  text-align: center;
  border-radius: 50%;
}
header #page-navbar .up-navbar .account-basket .icon .basket-count span {
  font-weight: 600;
  color: white;
}
header #page-navbar .header-wrapper {
  height: 110px;
  display: flex;
  align-items: center;
}
header #page-navbar .header-wrapper .header-service {
  display: flex;
  align-items: center;
  gap: 5px;
}
header #page-navbar .header-wrapper .header-service .icon {
  width: 35px;
  height: 40px;
  font-size: 35px;
  color: #ff871d;
}
header #page-navbar .header-wrapper .header-service .service {
  margin-top: 19px;
  font-size: 15px;
  line-height: 0.5;
}
header #page-navbar .header-wrapper .header-service .service h6:hover {
  color: #ff871d;
}
header #page-navbar .header-wrapper .header-service .service h6 {
  font-weight: 600;
  font-size: 15px;
}
header #page-navbar .header-wrapper .header-service .service p {
  color: #666666;
}
header #page-navbar .header-wrapper .header-logo {
  display: flex;
  justify-content: center;
}
header #page-navbar .header-wrapper .header-logo img {
  width: 210px;
}
header #page-navbar .header-wrapper .search {
  margin-top: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}
header #page-navbar .header-wrapper .search input {
  outline: none;
  border-radius: 5px;
  width: 270px;
  height: 42px;
  border: 1px solid #e5e5e5;
  padding: 0 40px 0 12px;
  font-size: 13px;
  text-transform: capitalize;
  color: #666;
  font-weight: 600;
}
header #page-navbar .header-wrapper .search .search-icon {
  right: 30px;
  position: relative;
  top: 7px;
}
header #page-navbar .header-wrapper .search .search-icon i {
  cursor: pointer;
  font-size: 20px;
}
header #page-navbar .down-navbar {
  display: flex;
  height: 56px;
  align-items: flex-end;
  justify-content: space-evenly;
  position: relative;
}
header #page-navbar .down-navbar ul {
  display: flex;
  justify-content: center;
  gap: 35px;
  list-style: none;
}
header #page-navbar .down-navbar ul li a {
  color: #222222;
  font-weight: 600;
  text-decoration: none;
  padding: 15px 0;
}
header #page-navbar .down-navbar ul li a:hover {
  color: #ff871d;
}
header #page-navbar .stick-nav {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 9;
  background-color: #fff;
  animation: 900ms cubic-bezier(0.2, 1, 0.22, 1) 0s normal none 1 running fadeInDown;
}
header #mobil-navbar {
  font-family: "Poppins", sans-serif;
}
header #mobil-navbar .up {
  border-bottom: 1px solid lightgray;
}
header #mobil-navbar .up .mobil-down-navbar {
  display: flex;
  align-items: center;
  margin-top: 13px;
  justify-content: space-between;
}
header #mobil-navbar .up .mobil-down-navbar .account-mob-icon {
  margin-left: 15px;
  font-size: 24px;
}
header #mobil-navbar .up .mobil-down-navbar .account-mob-icon a {
  color: #000;
}
header #mobil-navbar .up .mobil-down-navbar .line {
  height: 22px;
  color: black;
  width: 1px;
  background: rgba(128, 128, 128, 0.4588235294);
}
header #mobil-navbar .up .mobil-down-navbar .basket-mob-icon {
  font-size: 22px;
  display: flex;
}
header #mobil-navbar .up .mobil-down-navbar .basket-mob-icon a {
  color: #000;
}
header #mobil-navbar .up .mobil-down-navbar .basket-mob-icon .basket-count {
  font-size: 11px;
  width: 13px;
  height: 15px;
  background: #ff871d;
  text-align: center;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 10px;
}
header #mobil-navbar .up .mobil-down-navbar .basket-mob-icon .basket-count span {
  font-weight: 600;
  color: white;
}
header #mobil-navbar .down {
  height: 66px;
  padding: 20px 11px;
}
header #mobil-navbar .down .sidebar-mob-navbar {
  display: flex;
}
header #mobil-navbar .down .sidebar-mob-navbar .hamburger-icon {
  font-size: 22px;
}
header #mobil-navbar .down .sidebar-mob-navbar .nav-logo {
  margin-left: 25px;
  width: 101px;
}
header #mobil-navbar .down .sidebar-mob-navbar .nav-logo img {
  width: 100%;
}
header #mobil-navbar .down .sidebar-mob-navbar .search-mob-icon {
  display: flex;
}
header #mobil-navbar .down .sidebar-mob-navbar .search-mob-icon .search-box {
  display: flex;
  align-items: center;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 15px;
  overflow: hidden;
  margin-left: 3px;
}
header #mobil-navbar .down .sidebar-mob-navbar .search-mob-icon .search-box input[type=text] {
  font-size: 1.2rem;
  border: none;
  width: 100px;
  height: 100%;
  outline: none;
  overflow: hidden;
  padding: 10px;
}
header #mobil-navbar .down .sidebar-mob-navbar .search-mob-icon .search-box button[type=submit] {
  width: 30px;
  height: 100%;
  background-color: #ccc;
  border: none;
  outline: none;
  cursor: pointer;
}
header #mobil-navbar .down .content-area {
  overflow-y: scroll;
  background-color: #fff;
  z-index: 9999;
  width: 0%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  transition: 0.4s;
  overflow-y: scroll;
}
header #mobil-navbar .down .content-area .iconx {
  font-size: 25px;
  float: right;
  margin-right: 20px;
  margin-top: 22px;
}
header #mobil-navbar .down .content-area .content-area-center {
  margin-top: 65px;
}
header #mobil-navbar .down .content-area .content-area-center li {
  list-style: none;
  margin-bottom: 20px;
}
header #mobil-navbar .down .content-area .content-area-center li a {
  text-decoration: none;
  color: rgba(56, 53, 53, 0.9333333333);
  font-size: 20px;
}

main #top-column-content {
  height: 160px;
  background-color: #f7f7f7;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #top-column-content .column-content .title {
  font-family: "Poppins", sans-serif;
}
main #top-column-content .column-content .title h2 {
  font-size: 40px;
  text-transform: capitalize;
  margin: 0 0 5px;
  line-height: 35px;
  font-weight: 700;
}
main #top-column-content .column-content .choose {
  font-size: 17px;
}
main #top-column-content .column-content .choose a {
  text-decoration: none;
  color: black;
}
main #top-column-content .column-content .choose a:hover {
  color: #ff871d;
}
main #top-column-content .column-content .choose span {
  cursor: pointer;
}
main #wishlist-main {
  font-family: "Poppins", sans-serif;
}
main #wishlist-main .container {
  max-width: 1300px;
}
main #wishlist-main .container .wishlist-table {
  margin-top: 35px;
}
main #wishlist-main .container .wishlist-table .empty-continue .empty {
  text-align: center;
  padding: 20px;
}
main #wishlist-main .container .wishlist-table .empty-continue .continue {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
main #wishlist-main .container .wishlist-table .empty-continue .continue .btn {
  outline: none;
  height: 60px;
  width: 220px;
  color: #fff;
  background-color: #ef6c00 !important;
  font-weight: 600;
}
main #wishlist-main .container .wishlist-table .continue {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
main #wishlist-main .container .wishlist-table .continue button {
  height: 60px;
  width: 220px;
  color: #fff;
  background-color: #ef6c00 !important;
  font-weight: 600;
}
main #wishlist-main .container .wishlist-table .table {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main #wishlist-main .container .wishlist-table .table th {
  text-align: center;
}
main #wishlist-main .container .wishlist-table .table tr {
  text-align: center;
}
main #wishlist-main .container .wishlist-table .table .prdct-img {
  width: 110px;
  height: 110px;
  border: 1px solid lightgray;
}
main #wishlist-main .container .wishlist-table .table .prdct-img img {
  width: 100%;
}
main #wishlist-main .container .wishlist-table .table .td-img {
  width: 95px;
}
main #wishlist-main .container .wishlist-table .table .td-name {
  padding-top: 55px;
  width: 184px;
  font-weight: 700;
  text-align: center;
}
main #wishlist-main .container .wishlist-table .table .td-name .product-option {
  color: #666;
  font-weight: 400;
}
main #wishlist-main .container .wishlist-table .table .td-price {
  font-size: 23px;
  font-weight: 600;
  padding-top: 45px;
}
main #wishlist-main .container .wishlist-table .table .td-count {
  padding-top: 33px;
}
main #wishlist-main .container .wishlist-table .table .td-count .number {
  margin: 0;
}
main #wishlist-main .container .wishlist-table .table .td-count .minus,
main #wishlist-main .container .wishlist-table .table .td-count .plus {
  cursor: pointer;
  width: 20px;
  height: 52px;
  font-size: 35px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
main #wishlist-main .container .wishlist-table .table .td-count input {
  height: 34px;
  width: 80px;
  text-align: center;
  font-size: 17px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}
main #wishlist-main .container .wishlist-table .table .td-total {
  padding-top: 45px;
  font-size: 23px;
  font-weight: 600;
  color: #f33927;
}
main #wishlist-main .container .wishlist-table .table .delete {
  padding-top: 40px;
  font-size: 27px;
  cursor: pointer;
  color: red;
}
main #wishlist-main .container .wishlist-table .total-continue {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #wishlist-main .container .wishlist-table .total-continue .backShop button {
  margin-left: 8px;
  font-weight: 800;
  color: white;
  background-color: #ff871d;
  height: 45px;
  font-family: "Poppins", sans-serif;
  outline: none;
}
main #wishlist-main .container .wishlist-table .total-continue .backShop button:hover {
  background-color: black;
  color: white;
  border-color: black;
}

footer .container {
  max-width: 100% !important;
}
footer .footer-content {
  margin-top: 90px;
  background-color: black;
  padding-bottom: 35px;
}
footer .footer-content .info {
  color: white;
  font-family: "Poppins", sans-serif;
  margin-top: 75px;
}
footer .footer-content .info h2 {
  font-size: 17px;
  font-weight: 600;
  margin-left: 20px;
}
footer .footer-content .info ul {
  margin-top: 35px;
}
footer .footer-content .info ul li {
  list-style: none;
}
footer .footer-content .info ul li span {
  font-weight: 600;
  font-size: 14px;
  color: gray;
}
footer .footer-content .info ul li .mail {
  font-weight: 600;
  color: lightgray;
  font-size: 15px;
  text-decoration: none;
}
footer .footer-content .info ul li .mail:hover {
  color: #ff871d;
}
footer .footer-content .info ul li .num {
  line-height: 4;
}
footer .footer-content .info ul li a {
  font-size: 16px;
  color: lightgray;
  text-decoration: none;
  line-height: 2;
}
footer .footer-content .info ul li a:hover {
  color: #ff871d;
}

.scroll-top {
  bottom: 50px;
  cursor: pointer;
  height: 40px;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 40px;
  z-index: 9999;
  transition: 0.4s;
  border-radius: 4px;
  background-color: #e3a51e;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.scroll-top i {
  line-height: 40px;
  color: #fff;
  font-size: 25px;
}

.scroll-top.not-visible {
  bottom: -50px;
  visibility: hidden;
  opacity: 0;
}

@media only screen and (max-width: 1200px) and (min-width: 768px) {
  #mobil-navbar .mobil-down-navbar {
    margin-right: 15px;
    justify-content: flex-end;
  }
  #mobil-navbar .sidebar-mob-navbar {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
  #mobil-navbar .sidebar-mob-navbar .search-mob-icon {
    justify-content: flex-end;
  }
  #mobil-navbar .sidebar-mob-navbar .search-mob-icon .search-box {
    display: block !important;
  }
  #mobil-navbar .sidebar-mob-navbar .search-mob-icon .search-box input {
    width: 160px !important;
  }
  .footer-content {
    padding-bottom: 67% !important;
  }
  .footer-content .info {
    margin-top: auto !important;
  }
}/*# sourceMappingURL=wishlist.css.map */