*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {


    #overlay {
        position: fixed;
        /* Sit on top of the page content */
        display: none;
        /* Hidden by default */
        width: 100%;
        /* Full width (cover the whole page) */
        height: 100%;
        /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        /* Black background with opacity */
        z-index: 2;
        /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer;
        /* Add a pointer on hover */
    }


    #page-navbar {
        font-family: 'Poppins', sans-serif;

        width: 100%;
        height: 213px;


        .container {
            max-width: 1220px !important;
        }


        .up-navbar {
            height: 47px;
            border-bottom: 1px solid #e5e5e5;
            --bs-dropdown-link-active-bg: #df3e25 !important;


            .dropdown-menu {
                --bs-dropdown-link-hover-bg: white;
                --bs-dropdown-link-active-bg: orange;

                :hover {
                    color: #ff871d;
                }
            }


            .dropdown {
                display: flex;
                margin-left: 10px;
                gap: 10px;
                padding-top: 10px;
                color: #666666;
                font-size: 14px;
                font-weight: 600;


                .basic {

                    :hover {
                        color: #ff871d;
                    }

                }

                .line {
                    margin-left: 8px;
                    height: 22px;
                    color: black;
                    width: 1px;
                    background: #80808075;
                    margin-top: 1px;
                }

                .show {
                    font-size: 14px;

                }


            }


            .text-header {
                padding-top: 10px;
                text-align: center;
                color: #666666;
                font-weight: 600;
            }


            .account-basket {
                display: flex;
                margin-left: 22px;
                gap: 10px;
                padding-top: 10px;
                color: #666666;
                font-size: 14px;
                align-items: center;
                justify-content: flex-end;


                span {
                    font-weight: 600;
                }

                span:hover {
                    color: #ff871d;
                }




                .line {
                    margin-left: 8px;
                    height: 22px;
                    color: black;
                    width: 1px;
                    background: #80808075;
                    margin-top: 1px;

                }

                .icon {
                    cursor: pointer;
                    display: flex;
                    font-size: 22px;
                    color: black;
                    /* padding-bottom: 62px; */
                    align-content: flex-start;
                    align-items: center;
                    gap: 2px;

                    i {
                        color: #000;
                    }

                    .wishlist-nav {

                        margin-left: 15px;
                    }

                    .basket-count {
                        font-size: 12px;
                        width: 15px;
                        height: 17px;
                        background: #ff871d;
                        text-align: center;
                        border-radius: 50%;

                        span {
                            font-weight: 600;
                            color: white;
                        }
                    }
                }


            }
        }




        .header-wrapper {
            height: 110px;
            display: flex;
            align-items: center;

            .header-service {

                display: flex;
                align-items: center;
                gap: 5px;


                .icon {
                    width: 35px;
                    height: 40px;
                    font-size: 35px;
                    color: #ff871d;
                }

                .service {

                    margin-top: 19px;
                    font-size: 15px;
                    line-height: 0.5;

                    h6:hover {
                        color: #ff871d;
                    }

                    h6 {
                        font-weight: 600;
                        font-size: 15px;
                    }

                    p {
                        color: #666666;
                    }

                }
            }

            .header-logo {
                display: flex;
                justify-content: center;

                img {
                    width: 210px;
                }
            }

            .search {
                margin-top: 10px;
                text-align: center;
                display: flex;
                align-items: center;

                input {
                    outline: none;
                    border-radius: 5px;
                    width: 270px;
                    height: 42px;
                    border: 1px solid #e5e5e5;
                    padding: 0 40px 0 12px;
                    font-size: 13px;
                    text-transform: capitalize;
                    color: #666;
                    font-weight: 600;

                }


                .search-icon {
                    right: 30px;
                    position: relative;
                    top: 7px;


                    i {
                        cursor: pointer;
                        font-size: 20px;
                    }
                }

            }



        }

        .down-navbar {
            display: flex;
            height: 56px;
            align-items: flex-end;
            justify-content: space-evenly;
            position: relative;

            ul {
                display: flex;
                justify-content: center;
                gap: 35px;
                list-style: none;

                li {

                    a {
                        color: #222222;
                        font-weight: 600;
                        text-decoration: none;
                        padding: 15px 0;


                    }

                    a:hover {
                        color: #ff871d;
                    }
                }
            }
        }

        .stick-nav {
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
            top: 0;
            position: fixed;
            width: 100%;
            z-index: 9;
            background-color: #fff;
            -webkit-animation: 900ms cubic-bezier(0.2, 1, 0.22, 1) 0s normal none 1 running fadeInDown;
            animation: 900ms cubic-bezier(0.2, 1, 0.22, 1) 0s normal none 1 running fadeInDown;
        }
    }


    #mobil-navbar {
        font-family: 'Poppins', sans-serif;

        .up {
            border-bottom: 1px solid lightgray;

            .mobil-down-navbar {

                display: flex;
                align-items: center;
                margin-top: 13px;
                justify-content: space-between;

                .account-mob-icon {
                    margin-left: 15px;
                    font-size: 24px;

                    a {
                        color: #000;
                    }

                }

                .line {

                    height: 22px;
                    color: black;
                    width: 1px;
                    background: #80808075;
                }


                .basket-mob-icon {
                    font-size: 22px;
                    display: flex;

                    a {
                        color: #000;
                    }

                    .basket-count {
                        font-size: 11px;
                        width: 13px;
                        height: 15px;
                        background: #ff871d;
                        text-align: center;
                        border-radius: 50%;
                        margin-left: 2px;
                        margin-right: 10px;

                        span {
                            font-weight: 600;
                            color: white;
                        }
                    }

                }
            }
        }





        .down {

            height: 66px;
            padding: 20px 11px;


            .sidebar-mob-navbar {

                .hamburger-icon {
                    font-size: 22px;
                }

                .nav-logo {
                    height: 55px;
                    display: flex;
                    justify-content: center;

                    img {
                        height: 100%;
                    }
                }

                .search-mob-icon {

                    display: flex;

                    .search-box {
                        display: flex;
                        align-items: center;

                        height: 30px;
                        border: 1px solid #ccc;
                        border-radius: 15px;
                        overflow: hidden;
                        margin-left: 3px;

                    }


                    .search-box input[type="text"] {
                        font-size: 1.2rem;
                        border: none;
                        width: 100px;
                        height: 100%;
                        outline: none;
                        overflow: hidden;
                        padding: 10px;

                    }

                    // .search-box:hover input[type="text"] {
                    //     width: 117px;
                    //     padding-inline: 1.5rem;
                    // }

                    .search-box button[type="submit"] {
                        width: 30px;
                        height: 100%;
                        background-color: #ccc;
                        border: none;
                        outline: none;
                        cursor: pointer;
                    }

                    // .search-box button[type="submit"]:hover {
                    //     background-color: #aaa;
                    // }

                    // .search-box i {
                    //     color: #fff;
                    //     font-size: 1.5rem;
                    // }
                }


            }


            .content-area {
                overflow-y: scroll;
                background-color: #fff;
                z-index: 9999;
                width: 0%;
                height: 100%;
                left: 0;
                top: 0;
                position: fixed;
                -webkit-transition: .4s;
                transition: .4s;
                overflow-y: scroll;

                .iconx {
                    font-size: 25px;
                    float: right;
                    margin-right: 20px;
                    margin-top: 22px;
                }


                .content-area-center {

                    margin-top: 65px;


                    li {

                        list-style: none;
                        margin-bottom: 20px;

                        a {
                            text-decoration: none;
                            color: #383535ee;
                            font-size: 20px;
                        }
                    }
                }
            }

        }


    }



}


main {

    #top-column-content {
        height: 160px;
        background-color: #f7f7f7;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        .column-content {


            .title {
                font-family: 'Poppins', sans-serif;

                h2 {
                    font-size: 40px;
                    text-transform: capitalize;
                    margin: 0 0 5px;
                    line-height: 35px;
                    font-weight: 700;
                }

            }

            .choose {

                font-size: 17px;

                a {
                    text-decoration: none;
                    color: black;

                    &:hover {
                        color: #ff871d;
                    }
                }

                span {
                    cursor: pointer;
                }


            }
        }
    }

    #product-details-wrapper {


        .product-details-inner {
            width: 100%;

            .product-img {
                width: 100%;
                border: 1px solid #6666665e;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

                img {
                    width: 100%;
                }

                video{
                    width: 100%;
                }



            }


            .small-carousel {
                margin-top: 8px;

                $color_1: #000;

                .slider {
                    position: relative;
                }

                .slider__container {
                    gap: 10px;
                    height: 168px;


                    cursor: grab;
                    display: flex;
                    overflow: hidden;
                    scroll-behavior: smooth;

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }

                .slider__container.dragging {
                    scroll-behavior: auto;
                    cursor: grabbing;
                }

                .slider__item {
                    padding: 4px;
                    border: 1px solid #80808059;
                    height: 157px;
                    margin-top: 7px;
                    margin-left: 3px;
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
                    flex: 0 0 auto;
                    width: 39% ;

                    img {
                        cursor: pointer;
                        -webkit-user-drag: none;
                        -khtml-user-drag: none;
                        -moz-user-drag: none;
                        -o-user-drag: none;
                        user-select: none;
                        height: 100%;
                    }
                }

              

                .slider__container[data-step="3"] {
                    .slider__item {
                        width: calc(100% / 3);
                    }
                }

                .slider__container[data-step="2"] {
                    .slider__item {
                        width: calc(100% / 2);
                    }
                }

                .slider__container[data-step="1"] {
                    .slider__item {
                        width: calc(100% / 1);
                    }
                }

                .slider__control {
                    font-size: 16px;
                    border: none;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 10;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    color: $color_1;
                    background: #fff;
                    cursor: pointer;
                    opacity: .5;
                    transition: all .3s;

                    &:hover {
                        opacity: 1;
                        transform: translateY(-50%) scale(1.2);
                    }
                }

                .slider__control.prev {
                    left: 0px;

                    &:hover {
                        background-color: #ff871d;
                    }
                }

                .slider__control.next {
                    right: 0px;

                    &:hover {
                        background-color: #ff871d;
                    }
                }

                @media screen and (max-width: 1024px) {
                    .slider__item {
                        width: 25%;
                    }

                    .slider__container[data-step="4"] {
                        .slider__item {
                            width: 25%;
                        }
                    }
                }

                @media screen and (max-width: 768px) {
                    .slider__item {
                        width: calc(100% / 2);
                    }

                        // .slider__container[data-step="4"] {
                        //     .slider__item {
                        //         width: calc(100% / 2);
                        //     }
                        // }

                    .slider__container[data-step="3"] {
                        .slider__item {
                            width: calc(100% / 2);
                        }
                    }
                }

                @media screen and (max-width: 480px) {
                    .slider__item {
                        width: calc(100% / 1);
                    }

                    .slider__container[data-step="4"] {
                        .slider__item {
                            width: 45%;
                        }
                    }

                    .slider__container[data-step="3"] {
                        .slider__item {
                            width: calc(100% / 1);
                        }
                    }

                    .slider__container[data-step="2"] {
                        .slider__item {
                            width: calc(100% / 1);
                        }
                    }
                }

            }

            .product-details-des {
                font-family: 'Poppins', sans-serif;

                .pro-det-title {

                    h3 {
                        font-size: 30px;
                        font-weight: 600;
                    }
                }

                .star-product {
                    display: flex;
                    font-size: 15px;
                    gap: 5px;
                    margin-top: 7px;

                    .bi-star-fill {
                        color: #ff871d;
                    }
                }

                .pro-price {
                    margin-top: 15px;
                    font-size: 20px;

                    del {
                        color: #1e1d1db3;
                    }
                }

                .regular-price {
                    color: #ff871d;
                    font-weight: 600;
                }

                .pro-desc {
                    margin-top: 20px;
                    width: 80%;
                    font-size: 16px;
                    color: #020202;
                }

                .pro-type {

                    font-size: 17px;
                    margin-top: 15px;

                    .type-title {
                        font-weight: 600;
                        display: inline-block;
                        min-width: 120px;
                    }

                    .pro-variant-sku {}


                    .pro-size {
                        border: 1px solid black;
                        padding: 6px;
                        border-radius: 7px;
                        color: blue;
                        border-color: cornflowerblue;

                    }

                }

                .pro-type-size {

                    font-size: 17px;
                    margin-top: 15px;
                    display: flex;

                    .type-title {
                        font-weight: 600;
                        display: inline-block;
                        min-width: 120px;
                    }

                    .shoes-size {
                        width: 58%;

                        .size-number {
                            font-size: 16px;
                            border: 1px solid;
                            padding: 5px 15px;
                            display: inline-block;
                            margin-bottom: 11px;
                            cursor: pointer;
                            font-weight: 600;
                            color: white;
                            background-color: orange;

                            &:hover {

                                background-color: #515a68;
                                color: white;
                            }
                        }



                        .active {
                            color: red;
                            border: 1px solid red;
                            position: relative;

                        }
                    }

                }

                .pro-type-color {

                    font-size: 17px;
                    margin-top: 15px;
                    display: flex;

                    .type-title {
                        font-weight: 600;
                        min-width: 120px;
                        display: flex;
                        align-items: center;
                    }

                    .shoes-color {
                        width: 58%;
                        display: flex;
                        gap: 7px;

                        .product-color {
                            border-radius: 50%;
                            font-size: 16px;
                            border: 1px solid;
                            margin-bottom: 11px;
                            cursor: pointer;
                            font-weight: 600;
                            width: 30px;
                            height: 30px;
                        }


                        .active {
                            color: #222222;
                            box-shadow: 0 0 0 1px #999;
                            border: 1px solid #fff;
                            position: relative;
                        }
                    }


                }

                .pro-type-quantity {

                    font-size: 17px;
                    margin-top: 15px;
                    display: flex;
                    align-items: center;

                    .type-title {
                        font-weight: 600;
                        display: inline-block;
                        min-width: 120px;
                    }

                    .number {
                        margin: 0;

                        span {
                            cursor: pointer;
                        }

                        .minus,
                        .plus {
                            width: 20px;
                            font-size: 35px;
                            display: inline-block;
                            vertical-align: middle;
                            text-align: center;
                        }

                        input {
                            outline: none;
                            height: 34px;
                            width: 85px;
                            text-align: center;
                            font-size: 17px;
                            border: 1px solid #ddd;
                            border-radius: 4px;
                            display: inline-block;
                            vertical-align: middle;

                        }
                    }




                }

                .add-buttons {

                    margin-top: 40px;


                    .click-btn {

                        .bynw {
                            width: 235px;
                            margin-left: 10px;
                            background-color: white;
                            color: #000;
                            border: 1px solid #ff871d;

                            &:hover {
                                background-color: #ff871d;
                                border: 1px solid #ff871d;
                                color: white;
                            }
                        }


                        button {
                            border: none;
                            background-color: #ff871d;
                            width: 235px;
                            font-size: 14px;
                            height: 45px;
                            font-weight: 700;
                            color: white;
                            outline: none;

                            &:hover {
                                background-color: #000;
                                color: white;
                            }
                        }
                    }
                }




            }

            .product-accordion {
                margin-top: 15px;
                font-family: 'Poppins', sans-serif;

                .accordion-button {
                    i {
                        width: 46px;
                        font-size: 20px
                    }

                    h4 {
                        font-size: 15px;
                    }
                }

                .accordion-body {
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    #main-widget {

        .prod-tab-menu {
            font-family: 'Poppins', sans-serif;

            a {
                color: #31a687;
                font-weight: bold;
                text-decoration: none;
            }

            h1 {
                color: #FFF;
                font-size: 3.2em;
                font-weight: 400;
                margin-bottom: 20px;
                text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
            }

            /*--------------------------
            * MENU TABS
            ---------------------------*/
            .menu__tabs {
                list-style: none;
                overflow: hidden;

                li {
                    float: left;
                    margin-right: 2px;
                    font-size: 1.3em;
                }

                a {
                    padding: 0.5em;
                    background: #f1f1f1;
                    display: inline-block;
                    color: black;
                    text-decoration: none;
                    -webkit-border-radius: 4px 4px 0 0;
                    -moz-border-radius: 4px 4px 0 0;
                    border-radius: 4px 4px 0 0;
                    -webkit-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                    -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.2);
                    -moz-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.2);
                    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.2);

                    &:hover {
                        background: #515a68;
                    }
                }
            }


            .menu__tabs a.active {
                color: white;
                background: #ff871d;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            }

            .menu__tabs a.active i {
                color: white;
            }

            .menu__tabs a i {
                margin-right: 3px;
                color: black;
            }

            /*--------------------------
            * MENU WRAPPER
            ---------------------------*/
            .menu {
                margin: 55px auto;
                width: 80%;
                max-width: 600px;
                position: relative;
            }

            .menu__wrapper {
                padding: 2em;
                position: relative;
                background: #FFF;
                min-height: 300px;
                -webkit-border-radius: 0 4px 4px 4px;
                -moz-border-radius: 0 4px 4px 4px;
                border-radius: 0 4px 4px 4px;

                .menu__item {
                    line-height: 1.3;
                    color: #76716f;
                    display: none;

                    .item-active {
                        display: block;
                    }

                    h3 {
                        font-size: 1.8em;
                        color: #333b48;
                        border-bottom: 1px solid #d9d9d9;
                        padding-bottom: 5px;
                        margin-bottom: 12px;
                    }

                    p {
                        font-size: 1.3em;
                        line-height: 1.6em;
                        color: black;
                    }
                }
            }

            .menu__item {

                .product-review-body {


                    .blog-comment {

                        background-color: rgb(179 182 229 / 46%);
                        border-radius: 15px;
                        margin-top: 45px;
                        padding-top: 60px;
                        padding-left: 40px;
                        padding-right: 40px;
                        padding-bottom: 60px;

                        .heading {
                            margin-bottom: 10px;
                            line-height: 24px;
                            font-size: 30px;
                            color: #222121;
                        }

                        .blog-comment-item {

                            display: flex;

                            .blog-comment-img {
                                width: 120px;

                                img {
                                    width: 100%;
                                }

                            }

                            .blog-comment-content {
                                width: 88%;
                                margin-left: 30px;

                                .user-name {
                                    color: black;
                                    font-weight: 400;
                                    font-size: 30px;
                                    line-height: 29px;
                                    margin-bottom: 5px;
                                }

                                .date {
                                    color: black;
                                    font-size: 14px;
                                    display: block;
                                    margin-bottom: 20px;
                                }

                                .user-comment {
                                    margin-bottom: 20px;
                                    line-height: 30px;
                                }

                                .comment-btn {
                                    background-color: #343434;
                                    border-radius: 5px;
                                    width: 100px;
                                    height: 35px;
                                    line-height: 35px;
                                    color: #ffffff;
                                    font-size: 14px;
                                }


                            }


                        }
                    }

                    .feedback-area {

                        background-color: rgb(179 182 229 / 46%);
                        border-radius: 15px;
                        margin-top: 100px;
                        padding-top: 60px;
                        padding-left: 40px;
                        padding-right: 40px;
                        padding-bottom: 60px;

                        .heading {
                            margin-bottom: 60px;
                            line-height: 24px;
                            font-size: 30px;
                            color: #222121;
                        }

                        .feedback-form {

                            .mt-30 {

                                margin-top: 30px;
                            }

                            .group-input {
                                gap: 15px;
                                display: flex;
                            }

                            .form-field {
                                display: flex;
                                -webkit-box-pack: justify;
                                -webkit-justify-content: space-between;
                                -ms-flex-pack: justify;
                                justify-content: space-between;
                                width: 100%;

                                .input-field {
                                    border: 1px solid #dee2e6;
                                    background-color: #f6f7fb;
                                    padding-left: 20px;
                                    padding-right: 20px;
                                    width: 100%;
                                    height: 50px;
                                    outline: none;
                                    font-weight: 600;
                                    color: black
                                }

                                .textarea-field {
                                    padding: 20px;
                                    height: 150px !important;
                                    border: 1px solid #dee2e6;
                                    background-color: #f6f7fb;
                                    padding-left: 20px;
                                    padding-right: 20px;
                                    width: 100%;
                                    height: 50px;
                                    outline: none;
                                    font-weight: 600;
                                    color: black
                                }
                            }

                            .btn-custom-size {
                                padding: 0;
                                width: 160px;
                                height: 47px;
                                line-height: 47px;
                                font-size: 16px;
                                text-transform: uppercase;
                                overflow: hidden;
                                border-radius: 23.5px;
                                color: #ffffff;
                            }

                            .btn-custom-size.xl-size {
                                width: 210px;
                                height: 65px;
                                line-height: 65px;
                                font-size: 16px;
                            }

                            .btn-my-primary {
                                background-color: #ff871d;
                                border-color: #ff871d;
                                color: #ffffff;

                                &:hover {
                                    background-color: #020202;
                                    color: white;
                                    border-color: #020202;
                                }
                            }
                        }

                    }
                }
            }



        }


    }
}



footer {

    .container {
        max-width: 100% !important;
    }

    .footer-content {
        margin-top: 90px;
        background-color: black;
        padding-bottom: 35px;


        .info {
            color: white;
            font-family: 'Poppins', sans-serif;
            margin-top: 75px;

            h2 {
                font-size: 17px;
                font-weight: 600;
                margin-left: 20px;
            }


            ul {

                margin-top: 35px;

                li {
                    list-style: none;

                    span {
                        font-weight: 600;
                        font-size: 14px;
                        color: gray;
                    }

                    .mail {
                        font-weight: 600;
                        color: lightgray;
                        font-size: 15px;
                        text-decoration: none;

                        &:hover {
                            color: #ff871d;
                        }
                    }

                    .num {
                        line-height: 4;
                    }

                    a {
                        font-size: 16px;
                        color: lightgray;
                        text-decoration: none;
                        line-height: 2;

                        &:hover {
                            color: #ff871d;
                        }

                    }


                }
            }


        }
    }

}


.scroll-top {
    bottom: 50px;
    cursor: pointer;
    height: 40px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 40px;
    z-index: 9999;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 4px;
    background-color: #e3a51e;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);

    i {
        line-height: 40px;
        color: #fff;
        font-size: 25px;
      }
  }
  
  .scroll-top.not-visible {
    bottom: -50px;
    visibility: hidden;
    opacity: 0;
  }


@media only screen and (max-width: 767px) and (min-width: 350px) {

    #mobil-navbar {
        .search-box {
            margin-left: 16px;
        }

        .down{

            .sidebar-mob-navbar{

                display: flex;

                .nav-logo{

                    height: auto !important;
                    width: 110px;

                    img{
                        width: 100%;
                    }
                }
            }
        }
    }


    #product-details-wrapper{

        .click-btn{

            display: flex;
        }
    }

    #main-widget{

        margin-top: 22px;

        .menu__wrapper{

            padding: 0 !important;
        }

        .product-review-body{

            .blog-comment{

                padding: 15px 0 0 18px !important;

                .heading{
                    margin-bottom: 30px !important;
                }

                .blog-comment-item{
                    display: block !important;

                    .blog-comment-content{
                        width: auto !important;
                        margin-left: auto !important;

                        .user-name{
                            font-size: 24px !important;
                        }

                        .user-comment{
                            line-height: 27px !important;
                            font-size: 17px !important;
                            padding-bottom: 24px;


                        }

                    }
                }
            }
        }
    }

    .footer-content{

            margin-top: auto !important;
            padding-bottom: 140px !important;
    }


}



@media only screen and (max-width: 1200px) and (min-width: 768px) {

    #mobil-navbar {

        .mobil-down-navbar {
            margin-right: 15px;
            justify-content: flex-end;

        }

        .sidebar-mob-navbar {
            width: 100%;
            align-items: center;
            justify-content: space-between;
            display: flex;

       

            .search-mob-icon{
                justify-content: space-around;


                .search-box{
                    display: block !important;

                    input{
                        width: 160px !important;
                    }
                }

            }

        }


    }

    #top-column-content{
        margin-top: 25px;
    }

    .footer-content{
    
        padding-bottom: 67% !important;

        .info{
            margin-top: auto !important;
        }

    }
    
 

 
 }